body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
  font-family: sans-serif;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #ccc;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: #aaa;
  border-radius: 1vmin;
}

.tile {
  position: absolute;

  width: var(--cell-size);
  height: var(--cell-size);

  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));

  background-color: red;
  border-radius: 1vmin;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: left 100ms ease-in-out, top 100ms ease-in-out;

  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--color-lightness));

  animation: show 200ms ease-in-out;
}


@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}